<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/add-post.css">
<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
</head>
<body>
    <%- include('../includes/header.ejs') %>
    <main>
        <div class="add-post__container">
            <form action="/add-post" method="post">
                <h2>Add post</h2>
                <div class="input-container">
                    <label for="header">Header</label>
                    <input class="form-control" type="text" name="header" placeholder="Type your header">
                </div>
                <div class="input-container">
                    <label for="content">Content</label>
                    <div class="editor-container">
                        <div id="editor">
                        </div>
                    </div>
                </div>
                <input id="hiddenContentInput" type="hidden" name="content">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div class="button-container">
                    <button class="btn btnAddPost" type="submit">Post</button>
                </div>
            </form>
        </div>
    </main>
    <%- include('../includes/scripts.ejs') %>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <script>
        let toolbarOptions = [
            ['bold', 'italic', 'underline', 'strike'],
            ['blockquote', 'link'],
            [{'header': 1}, {'header': 2}],
            [{'list': 'ordered'}, {'list': 'bullet'}],
            [{'indent': '-1'}, {'indent': '+1'}]
        ]
        
        var quill = new Quill('#editor', {
        theme: 'snow',
        modules: {
            toolbar: toolbarOptions
        }
        });
    
        let submitButton = document.querySelector('.btnAddPost');
        submitButton.addEventListener('click', () => {
            let editorHTML = document.querySelector('.ql-editor').innerHTML;
            let hiddenContentInput = document.getElementById('hiddenContentInput');
            hiddenContentInput.value = editorHTML;
        })


    </script>
</body>
</html>