<header>
    <div class="left-box__header">
        <h1>blogger</h1>
        <form action="/search" method="post" style="display: flex; align-items: center;">
            <input type="search" name="search" id="search" placeholder="Search for user here">
            <input type="hidden" value="<%= csrfToken %>" name="_csrf">
            <button type="submit">
                <i id="searchButton" class="fa fa-search" aria-hidden="true"></i>
            </button>
        </form>
    </div>
    <nav>
        <ul>
            <% if (!user) { %>
            <li><a href="/">Home</a></li>
            <li><a href="/registration">Register</a></li>
            <li><a href="/login">Login</a></li>
            <% } %>
            <% if (user) { %>
            <li><a href="/profile/<%= user._id %>">Profile</a></li>
            <li><a href="/add-post">Add new post</a></li>
            <li><a href="/logout">Logout</a></li>
            <% } %>
        </ul>
    </nav>
</header>