main {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
}

.blog-section__container {
  width: 80%;
  min-height: 93vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  left: 0%;
  top: 40px;
  overflow-y: auto;
}

.side-navigation__container {
  width: 20%;
  background-color: #f1f3f5;
  height: 100vh;
  position: fixed;
  top: 40px;
  right: 0px;
}

.blog-posts__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.blog-posts__container .post-link {
  text-decoration: none;
  color: black;
}

.blog-posts__container .post-link .post-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 200px;
  width: 250px;
  background-color: #f1f3f5;
  margin: 30px 30px 30px 30px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 3px 0px lightgray;
          box-shadow: 0px 1px 3px 0px lightgray;
  cursor: pointer;
}

.blog-posts__container .post-link .post-container:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.blog-posts__container .post-link .post-container .header-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.blog-posts__container .post-link .post-container .header-block .authorImage {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-size: cover;
  margin: 0px 0px 0px 10px;
}

.blog-posts__container .post-link .post-container .header-block h4 {
  margin: 20px 0px 20px 10px;
}

.blog-posts__container .post-link .post-container .colored-block {
  background-color: #ff9769;
  color: white;
  font-size: 25px;
  font-weight: 600;
  height: 80%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.latest-posts__header {
  display: none;
}

@media (max-width: 850px) {
  .blog-section__container {
    width: 100vw;
    min-height: 93vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: static;
    top: 40px;
  }
  .blog-section__container .blog-posts__container {
    max-width: 340px;
  }
  .blog-section__container .blog-post__container {
    max-width: 330px;
  }
  .side-navigation__container {
    display: none;
  }
  .latest-posts__header {
    display: block;
    font-size: 16px;
  }
  .latest-posts__header h1 {
    margin-left: 25px;
  }
}
/*# sourceMappingURL=latest-posts.css.map */