$lightPurple: rgb(159, 166, 255);
$purple: #514096;
$pink: rgb(255, 129, 155);
$blue: rgb(106, 149, 247);
$blak: rgb(29, 29, 31);

body {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: auto;
    overflow-x: hidden;
    main {
        display: flex;
        justify-content: center;
    }
}

header {
    position: fixed;
    top: 0;
    z-index: 1;
    height: 40px;
    width: 100%;
    box-shadow: 0px 1px 5px 0px gray;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    .left-box__header {
        display: flex;
        align-items: center;
        h1 {
            padding: 0;
            margin: 0px 0px 0px 20px;
            color: $blak;
            font-size: 20px;
            font-family: 'Courier New', Courier, monospace;
        }
        input {
            padding: 0.3rem;
            border-radius: 3px;
            height: 30px;
            width: 250px;
            margin: 0px 0px 0px 20px;
            border: 2px solid $blak;
            &:focus {
                box-shadow: 0px 4px 8px 0px lightgray;
                outline: none;
            }
        }
        button {
            background-color: transparent;
            outline: none;
            border: 0px;
        }
        #searchButton {
            display: flex;
            align-items: center;
            height: 30px;
            padding: 0.3rem;
            font-size: 16px;
            &:hover {
                color: $blue;
                transform: scale(1.2);
                cursor: pointer;
            }
        }
    }
    ul {
        list-style: none;
        display: flex;
        margin-right: 20px;
        a {
            text-decoration: none;
            color: $blak;
            padding: 1rem;
            font-weight: 600;
            font-size: 17px;
            display: flex;
            align-items: center;
            flex-direction: column;
            &::after {
                content: '';
                display: block;
                background-color: white;
                width: 0%;
                height: 3px; 
                margin-top: 5px; 
            }
            &:hover {
                &::after {
                    animation: showbutton;
                    animation-duration: 0.4s;
                    animation-fill-mode: forwards;
                    animation-iteration-count: 1;
                    }
            }
        }
    }
}

@keyframes showbutton {
    0% {
        background-color: white;
        width: 0%;
        height: 3px;
    }
    100% {
        background-color: $blue;
        width: 100%;
        color: $blue;
        height: 3px;
    }
}

.authed-user__container {
    width: 100%;
    height: auto;
    background-color: transparent;
    display: flex;
    flex-direction: column;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    align-items: center;
    .authed-user__text {
        font-weight: 600;
        margin: 10px 0px 0px 0px;
    }
    .user-image {
        margin: 10px 0px 0px 0px;
        height: 80px;
        width: 80px;
        border-radius: 50%;
        background-size: cover;
    }
}